.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore folders
/BenMAP Materials
/Data
/HIA Inputs
/HIA Outputs
/Manuscript
/Maps
/Spreadsheets
/Ryan's Code Examples
/Temp

# ignore image
*.pdf
*.tiff
*.jpeg

# ignore markdown
*.html